<section class="overlay">
    <app-header-sign></app-header-sign>

    <div class="card">
        <img routerLink="/register" class="arrow-back" src="img/icons/login/arrow_back.svg">

        <h1>Passwort zurücksetzen</h1>
        <p>Wähle ein neues Passwort.</p>

        <form [formGroup]="resetPasswordForm">
            <div class="input-control">
                <div class="inputfield-container">
                    <img src="img/icons/login/password_icon.svg">
                    <input id="firstPassword" type="password" formControlName="firstPassword" placeholder="Wähle ein neues Passwort">
                </div>

                <div class="hint">
                    @if (resetPasswordForm.controls.firstPassword.invalid && (resetPasswordForm.controls.firstPassword.touched ||
                    resetPasswordForm.controls.firstPassword.dirty)) {
                        @if (resetPasswordForm.controls.firstPassword.errors?.['required']) {
                        <small>*Password is requiered</small>
                        }
                        @if (resetPasswordForm.controls.firstPassword.errors?.['minlength']) {
                        <small>*Passwort muss aus min. 6 Zeichen bestehen</small>
                        }
                    }
                </div>
            </div>

            <div class="input-control">
                <div class="inputfield-container">
                    <img src="img/icons/login/password_icon.svg">
                    <input id="verifyPassword" type="password" formControlName="verifyPassword" placeholder="Bestätige das Passwort">
                </div>

                <div class="hint">
                    @if (resetPasswordForm.controls.verifyPassword.invalid && (resetPasswordForm.controls.verifyPassword.touched ||
                    resetPasswordForm.controls.verifyPassword.dirty)) {
                        @if (resetPasswordForm.controls.verifyPassword.errors?.['required']) {
                        <small>*Wähle ein neues Passwort!</small>
                        }
                        @if (resetPasswordForm.controls.verifyPassword.errors?.['minlength']) {
                        <small>*Passwort muss aus min. 6 Zeichen bestehen</small>
                        }
                        @else if (resetPasswordForm.get('verifyPassword')?.hasError('notSame')) {
                            <small>*Passwörter sind nicht identisch</small>
                        }
                    }
                </div>
            </div>
        </form>

        <div class="btn-box width-100">
            <button class="btn-blue" [disabled]="!resetPasswordForm.valid" [class.btn-inactive]="!resetPasswordForm.valid"
                (click)="onSubmit()">Passwort ändern</button>
        </div>
    </div>

    <app-impress></app-impress>

</section>