<section>
    <div class="thread">
        @if (uiService.content == 'channelChat') {
        @for (message of channelService.currentChannelSubject.value.messages; track $index) {
        <app-single-message [id]="message.msgId" [index]="$index" [currentMessage]="message"></app-single-message>
        }

        @empty {

        }
        }@else {
        @for (message of this.fiBaService.currentConversation.messages; track $index) {
        <app-single-message [id]="message.msgId" [index]="$index" [currentMessage]="message"></app-single-message>
        }

        @empty {
        @if (this.uiService.content === 'directMessage') {
        <div class="startChat">
            <div>
                <img src="{{ user.avatar }}" referrerPolicy="no-referrer" alt="img avatar"
                    [ngClass]="{'mobile-img': breakpointObserver.isXSmallOrSmall}">
                @if (user.uid === userDataService.currentUserSig()?.uid) {
                <span>{{ user.username }} (Du)</span>
                }@else {
                <span>{{ user.username }}</span>
                }
            </div>
            <div class="infoText">
                @if (user.uid === userDataService.currentUserSig()?.uid ) {
                <span>
                    <p>Dieser Raum ist nur für dich da.</p> Mache dir Notizen, liste deine To-dos auf oder bewahre Links
                    und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.
                </span>
                }@else{
                <span>Diese Unterhaltung findet nur zwischen <span class="clickName">&#64;{{ user.username }}</span>
                    und dir statt.</span>
                }
            </div>
        </div>
        }
        }
        }
    </div>
</section>