<div class="my-profil-dialog">

    <div class="header">
        <h2>Profil</h2>
        <div class="closeProfil" (mouseenter)="isHoveredClose = true" (mouseleave)="isHoveredClose = false">
            <img (click)="closeMyProfil()"  [src]="isHoveredClose ? 'img/icons/close-blue.png' : 'img/icons/close.png'" alt="">
        </div>
    </div>

    <img class="avatar" src="{{authService.currentUserSig()?.avatar}}" alt="">
    <div class="profil-name">
        <p class="username">{{authService.currentUserSig()?.username}}</p>
        @if (authService.currentUserSig()?.username == 'Gast') {
        <button mat-button matTooltip="Als Gast nicht verfügbar!">Bearbeiten</button>
        }@else {
            <button mat-button (click)="openEditProfileDialog()" [mat-dialog-close]="'edit'">Bearbeiten</button>
        }
    </div>

    <div class="online-status">
        <img src="img/online.svg" alt="">
        <span>Aktiv</span>
    </div>

    <div class="email">
        <img src="img/icons/mail_icon.svg" alt="">
        <div>
            <p>E-mail-Adresse</p>
            <p class="my-email-adress"> {{authService.currentUserSig()?.email}}</p>
        </div>
    </div>
</div>