<section class="overlay">
    <app-header-sign></app-header-sign>

    <div class="card">
        <div class="arrow-box">
            <img routerLink="/" class="arrow-back" src="img/icons/login/arrow_back.svg">
        </div>
        <div class="imprint-box">
            <h1>Impressum</h1>
            
            <p><strong>App-Entwickler:</strong></p>
            <ul>
                <li>Sebastian Torney</li>
            </ul>
            
            <p><strong>Kontakt:</strong><br>
            E-Mail: <a href="mailto:info@sebastian-torney.de">info&#64;sebastian-torney.de</a><br>
            Adresse: Bahnhofstraße 101, 06901 Kemberg OT Bergwitz, Deutschland</p>
        </div>
    </div>
</section>