<section class="overlay">
    <app-header-sign></app-header-sign>

    <div class="card">
        <div class="arrow-box">
            <img routerLink="/" class="arrow-back" src="img/icons/login/arrow_back.svg">
        </div>
        <div class="imprint-box">
            <h1>Impressum</h1>
            
            <p><strong>App-Entwickler:</strong></p>
            <ul>
                <li>Jan Thorwarth</li>
                <li>Sebastian Torney</li>
                <li>Fabian Maier-Kumpukkattu</li>
                <li>Jacob Hengsbach</li>
            </ul>
            
            <p><strong>Kontakt:</strong><br>
            E-Mail: <a href="mailto:info@deineapp.de">info&#64;deineapp.de</a><br>
            Adresse: Musterstraße 123, 12345 Musterstadt, Deutschland</p>
        </div>
    </div>
</section>