<div [ngClass]="!firebaseService.isClosed ? 'hide' : ''" class="channel-container">
    <div (mouseenter)="isHoveredClose = true" (mouseleave)="isHoveredClose = false" class="close-container">
        <img (click)="closeDialogChannel()" (click)="firebaseService.toggleChannel()" [src]="isHoveredClose ? 'img/icons/close-blue.png' : 'img/icons/close.png'" alt="">
    </div>
    
    <h1>Channel erstellen</h1>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
    </p>
    <div class="channel-name">
        <h2>Channel-Name</h2>
        <div class="input-container">
            <img src="img/icons/tag-grey.png" alt="">
            <input (keyup)="checkChannelName()" [(ngModel)]="inputTitle" placeholder="z.B. Kooperationsprojekte" type="text">
        </div>
        <div [ngClass]="checkName ? 'show' : 'hide'" class="check-name ">
            <p>Channel existiert bereits.</p>
        </div>
    </div>

    <div class="description-name">
        <h2>Beschreibung</h2>
        <p>(optional)</p>
    </div>
    <div class="input-description">
        <input [(ngModel)]="inputDesc" placeholder="Dein Text hier" type="text">
    </div>
    <div  class="button-container">
        <button [disabled]="checkChannel" (click)="openDialogAddPeople()">Erstellen</button>
    </div>

</div>