@import "./../../../styles.scss";

div {
  @include dFlex($jc: center, $ai: center, $fd: column, $gap: 15px);
  margin: 12px;
}

.mobile-container{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

button {
@include dFlex($jc: flex-start, $gap: 20px);
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  border: none !important;
  width: 100%;
  padding: 12px 25px;
  background-color: white;
  border-radius: 100px;
  &:hover {
    background-color: #eceefe;
    font-weight: 700;
    color: #535af1;
  }
}

.grey-btn{
    height: 8px;
    width: 80px;
    background-color: #eceefe;
    border-radius: 4px;
}
 