@import './../../../../styles.scss';

section {
    font-family: 'Nunito';
    border-radius: 0 0 30px 30px;
    background-color: white;
    position: relative;
}

.main {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;

    &:hover {
        border-color: #797EF3;
    }

    &:focus-within {
        border-color: #444DF2;
    }

    textarea {
        width: 100%;
        border: none;
        resize: none;
        outline: none;
        font-size: 18px;
        font-weight: 400;
        text-wrap: wrap;
        word-break: break-word;
        color: #686868;
        font-family: 'Nunito';
    }
}

.interactDiv {
    @include dFlex($jc: space-between);

    .addDiv {
        @include dFlex($gap: 5px);
    }
}

.addIcons {
    @include dFlex();
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $bgHover;
        border-radius: 50%;
    }
}

.emojiPicker {
    position: absolute;
    left: 20px;
    bottom: 160px;
}

// .scrollDiv {
//     background-color: #444df2;
//     border-radius: 20px;
//     position: absolute;
//     bottom: 160px;
//     left: 0;
//     width: 200px;
//     padding: 15px 0;
//     box-shadow: -8px 6px 16px #00000054;
// }

// .userList {
//     @include dFlex($fd: column, $jc: flex-start, $gap: 5px);
//     height: 120px;
//     width: 200px;
//     color: white;
//     background-color: #444df2;
//     font-size: 18px;
//     box-sizing: border-box;
//     overflow-y: auto;

//     span {
//         text-align: center;
//         cursor: pointer;

//         &:hover {
//             font-weight: 700;

//         }
//     }
// }

// ::-webkit-scrollbar {
//     background: #444df2;
// }

// ::-webkit-scrollbar-track {
//     margin: 15px 0;
// }

.sendIcon {
    cursor: pointer;

    &:hover {
        svg {
            path {
                fill: #797EF3;
            }
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}





.hideUserDialog {
    display: none !important;
}

.user-dialog {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    padding: 20px 21px;
    border: 1px solid #ADB0D9;
    background-color: white;
    box-shadow: 0px 2px 10px 0px #00000014;
    box-sizing: border-box;
    position: absolute;
    bottom: 160px;
    left: 20px;
    z-index: 51;
    box-sizing: border-box;
    width: calc(100% - 20px);
    gap: 10px;
    max-width: 450px;
}

.single-user {
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.scroll-container {
    max-height: 230px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.avatar-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.single-search {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        background: #ECEEFE;
        border-radius: 30px;
        color: #535AF1;

    }
}

.username {
    font-size: 18px;
    margin: 0;
}