@import './../../../styles.scss';


section {
    background-color: white;
    padding-block: 25px;
    padding-left: 30px;
    border-radius: 30px;
    font-family: 'Nunito';
    height: calc(100svh - 137px);
    box-sizing: border-box;
    transform: translateX(0px);
    transition: transform ease-in-out 130ms;
    margin-left: 20px;
}

.no-margin{
    margin: 0 !important;
}

.mobile-height{
    height: calc(100svh - 85px) !important;
  }

.scroll-container{
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.logo{
    @include dFlex(flex-start);
    margin: 20px;
}

.slide-in {
    transform: translateX(-1000px);
}

.workspace-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.edit-square {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: #ECEEFE;
        border-radius: 100%;
        cursor: pointer;
    }
}

.add-black {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: #ECEEFE;
        border-radius: 100%;
        cursor: pointer;
    }

}

.workspace-text {
    display: flex;
    align-items: center;
    gap: 15px;

    >p {
        font-weight: 700;
        font-size: 24px;
    }
}

.channel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-header {
    display: flex;
    align-items: center;
    gap: 15px;

    >p {
        font-weight: 700;
        font-size: 20px;
    }

    &:hover {
        color: #535AF1;
        cursor: pointer;

    }

}

.channel-row {
    display: flex;
    flex-direction: column;

}

.developer {
    margin-left: 24px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;


    >p {
        font-size: 18px;
    }

}

.dev-hover {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    width: 100%;
    box-sizing: border-box;

    >p {
        font-size: 18px;
        margin: 0;
    }

    &:hover {
        background: #ECEEFE;
        border-radius: 20px;
        cursor: pointer;



    }
}

.add-channel {
    margin-left: 43px;
    display: flex;
    align-items: center;
    gap: 10px;

    >p {
        font-size: 18px;
    }

    &:hover {
        color: #535AF1;
        cursor: pointer;
    }
}

.users {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    visibility: visible;
    transition: opacity 130ms ease, visibility 130ms ease;
    width: 100%;
}

.channels {
    gap: 8px;
    display: flex;
    flex-direction: column;
    visibility: visible;
    transition: opacity 130ms ease, visibility 130ms ease;
    width: 100%;
}

.single-user {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.w-100{
    width: 100%;
}

.single-user-hover {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;


    &:hover {
        cursor: pointer;
        background: #ECEEFE;
        border-radius: 30px;
        color: #535AF1;

    }

}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hide {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    display: none;



}

.username p {
    font-size: 18px;
    margin: 0;
}

.workspace-show-hide {
    display: flex;
    align-items: center;
    padding: 17px 14px;
    position: absolute;
    left: -137px;
    bottom: 237px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: rotate(-90deg);
    box-shadow: 4px 4px 7px 0px #00000033;
    gap: 10px;
    width: 302px;
    justify-content: center;
    z-index: 90;

    &:hover {
        cursor: pointer;
        color: #535AF1;
        font-weight: 700;

        >p {
            font-weight: 700;
        }
    }

    >p {
        font-size: 20px;
        font-weight: 500;
        font-family: 'Nunito';
        margin: 0;
    }

    >img {
        transform: rotate(90deg);
    }

}

.status {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 5px;
    right: 0px;

}

.avatar-side-nav {
    position: relative;

}

.search-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .search-username {
    font-size: 18px;
    margin: 0;
  }
  
  .search-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .single-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }




  .single-search {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
  

    
    &:hover {
      cursor: pointer;
      background: #ECEEFE;
      border-radius: 30px;
      color: #535AF1;
  
    }
  
  }

  .input-container {
    position: relative;
    width: 100%; 
    max-width: unset;
    display: flex;

    >img {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    
      }
  
    > input {
      box-sizing: border-box;
      font-size: 18px;
      font-family: 'Nunito';
      border-radius: 42px;
      border: none;
      width: 100%; 
      padding: 17.5px 45px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
      border: 1px solid #ADB0D9;

  
      &:focus {
        outline: unset;
      }
  
      &:hover {
        border: 1px solid #444DF2;
        transition: ease-in-out 100ms;
      }
    }
}

.new-msg-btn{
    background-color: #444DF2;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    @include dFlex();


    &:hover{
        scale: 1.1;
    }

    .postion-box{
        position: relative;
        height: 60px;
        width: 60px;

        img{
            position: relative;
            top: 16px;
            left: 18px;
            height: 24px;
            width: 24px;
        }
    }
    

}

.thread-img{
    height: 32px;
    width: 32px;
  }

.no-padding{
    padding: 0px !important;
}



  