<section class="overlay">
    <app-header-sign></app-header-sign>
    @if (!emailConfirmed) {
    <div class="card">
        <img routerLink="/" class="arrow-back" src="img/icons/login/arrow_back.svg">

        <h1>Passwort zurücksetzen</h1>
        <p>Bitte geben sie ihre E-mail-Addresse an.</p>

        <form>
            <div class="input-control">
                <div class="inputfield-container">
                    <img src="img/icons/login/mail_icon.svg">
                    <input id="email" type="email" [formControl]="emailForm" required
                        placeholder="beispielname@email.com">
                </div>
                <div class="hint">
                    @if (emailForm.invalid && (emailForm.touched ||
                    emailForm.dirty)) {
                    @if (emailForm.errors?.['required']) {
                    <small>*Gebe deine Email an!</small>
                    }
                    @if (emailForm.errors?.['pattern']) {
                    <small>*Ungültige Email!</small>
                    }
                    }
                </div>
            </div>
        </form>

        <p class="text">
            Wir senden ihnen eine E-mail, über die <br>
            sie ihr Passwort ändern können.
        </p>

        <div class="btn-box width-100">
            <button class="btn-blue" [disabled]="!emailForm.valid" [class.btn-inactive]="!emailForm.valid"
                (click)="onSubmit()">Email senden</button>
        </div>
    </div> }@else {
        <div class="confirmed-box">
            <img src="img/icons/login/email-send.png" alt="">
            <p>Wir haben ihnen eine Email gesendet, um ihr Passwort zurück zurücksetzen.</p>
        </div>
    }

    <app-impress></app-impress>

</section>